<html lang="en">
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://gridea.dev/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://gridea.dev/media/tailwind.css">
<link rel="stylesheet" href="https://gridea.dev/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="Gridea - Atom Feed" href="https://gridea.dev/atom.xml">


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113307620-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-113307620-2');
  </script>
    

  <title>🤗 快速上手 | Gridea</title>
  <meta name="description" content="你好，欢迎开始愉快的 Gridea 之旅呀～
安装

安装 Gridea

写作
相信你自己可以搞得定哦，加油写作啦！
发布

Gridea 提供了将博客部署到 GitHub Pages、Coding Pages 和通过 SFTP 的方式上..." />
<body>
  <div class="antialiased flex flex-col min-h-screen md:bg-gray-100" id="app">
    <header class="border-b border-gray-200 bg-white">
  <div class="max-w-6xl mx-auto sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <a href="/" class="flex items-center">
        <img class="h-8 mr-2" src="/media/gridea.png" alt="Gridea" style="transform: scale(1.2);"> <span class="font-medium text-xl">Gridea</span>
      </a>
      <div class="sm:hidden">
        <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-gray-500 focus:text-gray-500 focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <nav :class="isOpen ? 'block' : 'hidden'" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
      
        <a href="/" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 ">
          首页
        </a>  
      
        <a href="/docs" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          文档
        </a>  
      
        <a href="/themes" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          主题市场
        </a>  
      
        <a href="/blog" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          博客
        </a>  
      
    </nav>
  </div>
</header>

    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">

      <h1 class="text-3xl text-center">🤗 快速上手</h1>
      
      

      
      
      <div class="flex relative bg-white md:mx-32 mt-8 md:mt-16 md:rounded md:shadow pb-24">
        <div v-pre class="markdown mt-10 flex-1 w-full px-0 md:px-12">
          <p>你好，欢迎开始愉快的 Gridea 之旅呀～</p>
<h2 id="安装">安装</h2>
<ol>
<li>安装 <a href="https://gridea.dev/">Gridea</a></li>
</ol>
<h2 id="写作">写作</h2>
<p>相信你自己可以搞得定哦，加油写作啦！</p>
<h2 id="发布">发布</h2>
<blockquote>
<p>Gridea 提供了将博客部署到 GitHub Pages、Coding Pages 和通过 SFTP 的方式上传到自己的服务器的功能。下面将以 GitHub 为例，来讲一下部署流程。</p>
</blockquote>
<ol>
<li>
<p><strong>创建 GitHub 账号，并创建一个仓库 Token</strong>。点击<a href="https://github.com/">GitHub</a>，进行注册。登录 GitHub 之后，点击<a href="https://github.com/settings/tokens/new">这里</a>创建一个 Token，<strong>勾选上 repo 的相关权限即可</strong>。生成之后记得把 Token 复制到你的本地，因为一旦关闭网页将不能再看到它。<br>
<img src="https://gridea.dev/post-images/1575874237236.png" alt="" loading="lazy"><br>
<img src="https://gridea.dev/post-images/1575874322709.png" alt="" loading="lazy"></p>
</li>
<li>
<p><strong>创建仓库，存放构建后的网站文件</strong>。创建一个公开仓库，名为<strong>用户名.github.io</strong>。（将用户名替换为你的 GitHub 用户名）<br>
<img src="https://gridea.dev/post-images/1575874957071.png" alt="" loading="lazy"></p>
</li>
<li>
<p><strong>进入 Gridea 进行远程设置</strong>。按照下图的示例进行设置，然后点击「检测远程链接」，进行配置检查。<br>
<img src="https://gridea.dev/post-images/1575875241904.png" alt="" loading="lazy"></p>
</li>
<li>
<p><strong>同步</strong>。点击 Gridea 中的 同步按钮即可。初次部署等待几分钟之后就可以去浏览器访问了，默认地址为你在第 3 步所填写的域名。</p>
</li>
</ol>
<p>以上，就完成一个静态博客的搭建了，期待你的每一次落笔成文。</p>
<p>Enjoy~</p>
<blockquote>
<p>附：社区小伙伴录制的 Gridea 教程</p>
</blockquote>
<p><a href="https://www.bilibili.com/video/av54010923">📺Gridea快速上手-1-前言</a><br>
<a href="https://www.bilibili.com/video/av54010965">📺<s>Gridea快速上手-2-Git安装(废弃，无需此步)</s></a><br>
<a href="https://www.bilibili.com/video/av54011033">📺Gridea快速上手-3-Gridea与Github的配置</a><br>
<a href="https://www.bilibili.com/video/av54298548">📺Gridea快速上手-4-Gridea与Coding的配置</a></p>
<p><a href="https://www.bilibili.com/video/av69627579/">📺10分钟搭建博客——Gridea</a></p>

        </div>
        <!-- <div class="hidden md:block w-48 sticky top-0 pt-10 post-toc self-start">
          <div class="uppercase py-4 font-normal text-gray-400 text-sm">On this page</div>
          <ul class="markdownIt-TOC">
<li>
<ul>
<li><a href="#%E5%AE%89%E8%A3%85">安装</a></li>
<li><a href="#%E5%86%99%E4%BD%9C">写作</a></li>
<li><a href="#%E5%8F%91%E5%B8%83">发布</a></li>
</ul>
</li>
</ul>

        </div> -->
      </div>

      
    </div>

    <div class="border-t border-gray-200 bg-white">
  <div class="max-w-6xl flex md:justify-between flex-col md:flex-row items-center mx-auto py-24">
    <form
      class="flex items-center mb-0"
      action="https://tinyletter.com/gridea"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/gridea', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input class="border border-gray-200 w-full text-gray-700 h-10 py-2 px-2 focus:outline-none" placeholder="你的邮箱" type="text" name="email" id="tlemail" />
      <input type="hidden" value="1" name="embed"/>
      <button class="text-sm flex items-center flex-shrink-0 py-3 h-10 px-4 bg-gray-800 hover:bg-gray-900 text-white" type="submit">
        <i class="ri-mail-line mr-2"></i>
        订阅更新
      </button>
    </form>
    <div class="text-gray-400 font-light my-8 md:my-0">
      Powered by <a class="text-gray-800 font-normal" href="https://github.com/getgridea/gridea" target="_blank">Gridea</a> · Made with ❤️ by <a class="text-gray-800 font-normal" href="https://github.com/EryouHao" target="_blank">EryouHao</a>
    </div>
    <div class="flex md:self-start justify-center">
      <a href="https://github.com/getgridea/gridea" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-github-line"></i>
      </a>
      <a href="https://twitter.com/EryouHao" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-twitter-line"></i>
      </a>
      <a href="https://t.me/joinchat/AAAAAEj82_lma0Y1wmyqUQ" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center hover:bg-gray-900 hover:text-white">
        <i class="ri-telegram-line"></i>
      </a>
    </div>
  </div>
</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
  <script src="/media/prism.js"></script>
  <script>
    Prism.highlightAll()
  </script>
</body>
</html>