/**
  * Home Style
  */
.hve-home
  table {
    display: table;
  }
  div[class*="language-"] {
    border-radius: 2px;
  }

  .content:not(.custom)
    & > h1, h2, h3, h4, h5, h6
      margin-bottom: 24px;
  .navbar
    border-bottom 0px solid!important;
    box-shadow: 0 2px 3px rgba(21, 39, 57, 0.12);

  .hero
    img
      width 80px
      height 80px

  .feature
    h2
      font-size 18px
      margin: 24px 0 8px
