/**
  * Home Style
  */
.hve-home
  table {
    display: table;
  }
  div[class*="language-"] {
    border-radius: 2px;
  }

  .content:not(.custom)
    & > h1, h2, h3, h4, h5, h6
      margin-bottom: 24px;
  .navbar
    border-bottom 0px solid!important;
    box-shadow: 0 2px 3px rgba(21, 39, 57, 0.12);

  .hero
    img
      width 80px
      height 80px

  .feature
    h2
      font-size 18px
      margin: 24px 0 8px

.home
  padding 0 0 0
  max-width none
  .hero
    padding 7.6rem 2rem
    background: #000000;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background: #232526;  /* fallback for old browsers */
    // background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('/home-bg.jpg')
    background-position: center
    background-size: cover
    position relative

    &:before
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.382);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    h1
      color: #000
      text-shadow: 0px 0px 5px #ffffff
    .description
      color #000
      line-height: 1.5
      text-shadow: 0px 0px 5px #ffffff
  .features, .content.custom
    margin: 0 auto
    max-width: 960px
    padding: 0 2rem 0;

  @media (max-width: 419px)
    .hero
      padding: 3.5rem 1.5rem
    .features, .content.custom
      padding-left: 1.5rem
      padding-right: 1.5rem


