<html lang="en">
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://gridea.dev/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://gridea.dev/media/tailwind.css">
<link rel="stylesheet" href="https://gridea.dev/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="Gridea - Atom Feed" href="https://gridea.dev/atom.xml">


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113307620-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-113307620-2');
  </script>
    

  <title>Gridea 的赞赏者们 | Gridea</title>
  <meta name="description" content="❤️ 感谢各位的支持，这些资金将用来支持 Gridea 的开发、域名、社区生态建设等。



💰
👦/🧒
✉️




6.66
doSthNiuBility
资瓷资瓷！很有特色的博客生成器！


100🥇
mashaofei
-
..." />
<body>
  <div class="antialiased flex flex-col min-h-screen md:bg-gray-100" id="app">
    <header class="border-b border-gray-200 bg-white">
  <div class="max-w-6xl mx-auto sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <a href="/" class="flex items-center">
        <img class="h-8 mr-2" src="/media/gridea.png" alt="Gridea" style="transform: scale(1.2);"> <span class="font-medium text-xl">Gridea</span>
      </a>
      <div class="sm:hidden">
        <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-gray-500 focus:text-gray-500 focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <nav :class="isOpen ? 'block' : 'hidden'" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
      
        <a href="/" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 ">
          首页
        </a>  
      
        <a href="/docs" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          文档
        </a>  
      
        <a href="/themes" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          主题市场
        </a>  
      
        <a href="/blog" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          博客
        </a>  
      
    </nav>
  </div>
</header>

    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">

      <h1 class="text-3xl text-center">Gridea 的赞赏者们</h1>
      
      

      
      
      <div class="flex relative bg-white mt-8 md:mt-16 md:rounded md:shadow pb-24">
        <div v-pre class="markdown mt-10 flex-1 w-full px-0 md:px-12">
          <p>❤️ 感谢各位的支持，这些资金将用来支持 <strong>Gridea</strong> 的开发、域名、社区生态建设等。</p>
<table>
<thead>
<tr>
<th>💰</th>
<th>👦/🧒</th>
<th>✉️</th>
</tr>
</thead>
<tbody>
<tr>
<td>6.66</td>
<td>doSthNiuBility</td>
<td>资瓷资瓷！很有特色的博客生成器！</td>
</tr>
<tr>
<td><strong>100</strong>🥇</td>
<td>mashaofei</td>
<td>-</td>
</tr>
<tr>
<td>6.66</td>
<td>doSthNiuBility</td>
<td>资瓷资瓷！很有特色的博客生成器！</td>
</tr>
<tr>
<td><strong>100</strong>🥇</td>
<td>mashaofei</td>
<td>-</td>
</tr>
<tr>
<td>5</td>
<td>Noah</td>
<td>加油</td>
</tr>
<tr>
<td>1</td>
<td>星辰</td>
<td>-</td>
</tr>
<tr>
<td>0.04</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>6.60</td>
<td>姚攀</td>
<td>项目不错，支持一下作者！</td>
</tr>
<tr>
<td>10</td>
<td>曾雁</td>
<td>加油 感觉 md 支持的东西优点少</td>
</tr>
<tr>
<td>10</td>
<td>夏木</td>
<td>-</td>
</tr>
<tr>
<td>5</td>
<td>kergee</td>
<td>好用，虽然 Gitalk 搞不定</td>
</tr>
<tr>
<td>2</td>
<td>牧泽</td>
<td>好用，希望持续更新。</td>
</tr>
<tr>
<td>5</td>
<td>任涛</td>
<td>支持 Gridea，加油 💪</td>
</tr>
<tr>
<td>5</td>
<td>Suremotoo</td>
<td>一定要坚持下去。</td>
</tr>
<tr>
<td>10</td>
<td>小口</td>
<td>-</td>
</tr>
<tr>
<td>10</td>
<td>晓岩</td>
<td>好好工作 哈哈</td>
</tr>
<tr>
<td>1</td>
<td>伍双</td>
<td>谢谢</td>
</tr>
<tr>
<td>5</td>
<td>Hugh 二零九八</td>
<td>-</td>
</tr>
<tr>
<td>5</td>
<td>Matthew</td>
<td>小小心意</td>
</tr>
<tr>
<td>20</td>
<td>非晚</td>
<td>感谢带来好的工具 🌹</td>
</tr>
<tr>
<td>20</td>
<td>AMan</td>
<td>一杯咖啡 ☕️ 谢谢你</td>
</tr>
<tr>
<td>5</td>
<td>木木</td>
<td>感谢小哥哥</td>
</tr>
<tr>
<td><strong>88</strong>🥈</td>
<td>D · 杜志鹏</td>
<td>V2ex 6d6f33</td>
</tr>
<tr>
<td>20</td>
<td>TEDIORELEE</td>
<td>群员支持下群主</td>
</tr>
<tr>
<td>20</td>
<td>Rigus</td>
<td>大佬牛 🍻</td>
</tr>
<tr>
<td>20</td>
<td>JustDoIt</td>
<td>加油，很喜欢你的作品！！</td>
</tr>
<tr>
<td>8.88</td>
<td>GenerationBear</td>
<td>请群主喝肥宅快乐水</td>
</tr>
<tr>
<td>5</td>
<td>volin</td>
<td>加油！希望越来越好！请作者喝瓶快乐水！</td>
</tr>
<tr>
<td>6.66</td>
<td>Dlyw</td>
<td>棒棒，向作者学习！</td>
</tr>
<tr>
<td>5</td>
<td>t a n 🌟</td>
<td>很好用 加油小小心愿</td>
</tr>
<tr>
<td>35</td>
<td>一点点</td>
<td>thanks bro.</td>
</tr>
<tr>
<td><strong>50</strong>🥉</td>
<td>释月</td>
<td>٩(˃̶͈̀௰˂̶͈́)و</td>
</tr>
<tr>
<td>1</td>
<td>追过梦想又怎样</td>
<td>沈全胜</td>
</tr>
<tr>
<td><strong>100</strong>🥇</td>
<td>Y.</td>
<td>项目不错，继续加油，一直会支持！</td>
</tr>
<tr>
<td><strong>50</strong>🥉</td>
<td>else</td>
<td>给开发者加个餐，坚持开发下去(<em>'▽'</em>)♪</td>
</tr>
<tr>
<td>10</td>
<td>OH</td>
<td>虽然不用，但是知道做工具的难！</td>
</tr>
<tr>
<td>10</td>
<td>钟超</td>
<td>Gridea 很赞！继续加油！</td>
</tr>
<tr>
<td>1</td>
<td>刘纪程.🐟</td>
<td>感谢 wx yueerlifee</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>5</td>
<td>Noah</td>
<td>加油</td>
</tr>
<tr>
<td>1</td>
<td>星辰</td>
<td>-</td>
</tr>
<tr>
<td>0.04</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>6.60</td>
<td>姚攀</td>
<td>项目不错，支持一下作者！</td>
</tr>
<tr>
<td>10</td>
<td>曾雁</td>
<td>加油 感觉 md 支持的东西优点少</td>
</tr>
<tr>
<td>10</td>
<td>夏木</td>
<td>-</td>
</tr>
<tr>
<td>5</td>
<td>kergee</td>
<td>好用，虽然 Gitalk 搞不定</td>
</tr>
<tr>
<td>2</td>
<td>牧泽</td>
<td>好用，希望持续更新。</td>
</tr>
<tr>
<td>5</td>
<td>任涛</td>
<td>支持 Gridea，加油 💪</td>
</tr>
<tr>
<td>5</td>
<td>Suremotoo</td>
<td>一定要坚持下去。</td>
</tr>
<tr>
<td>10</td>
<td>小口</td>
<td>-</td>
</tr>
<tr>
<td>10</td>
<td>晓岩</td>
<td>好好工作 哈哈</td>
</tr>
<tr>
<td>1</td>
<td>伍双</td>
<td>谢谢</td>
</tr>
<tr>
<td>5</td>
<td>Hugh 二零九八</td>
<td>-</td>
</tr>
<tr>
<td>5</td>
<td>Matthew</td>
<td>小小心意</td>
</tr>
<tr>
<td>20</td>
<td>非晚</td>
<td>感谢带来好的工具 🌹</td>
</tr>
<tr>
<td>20</td>
<td>AMan</td>
<td>一杯咖啡 ☕️ 谢谢你</td>
</tr>
<tr>
<td>5</td>
<td>木木</td>
<td>感谢小哥哥</td>
</tr>
<tr>
<td><strong>88</strong>🥈</td>
<td>D · 杜志鹏</td>
<td>V2ex 6d6f33</td>
</tr>
<tr>
<td>20</td>
<td>TEDIORELEE</td>
<td>群员支持下群主</td>
</tr>
<tr>
<td>20</td>
<td>Rigus</td>
<td>大佬牛 🍻</td>
</tr>
<tr>
<td>20</td>
<td>JustDoIt</td>
<td>加油，很喜欢你的作品！！</td>
</tr>
<tr>
<td>8.88</td>
<td>GenerationBear</td>
<td>请群主喝肥宅快乐水</td>
</tr>
<tr>
<td>5</td>
<td>volin</td>
<td>加油！希望越来越好！请作者喝瓶快乐水！</td>
</tr>
<tr>
<td>6.66</td>
<td>Dlyw</td>
<td>棒棒，向作者学习！</td>
</tr>
<tr>
<td>5</td>
<td>t a n 🌟</td>
<td>很好用 加油小小心愿</td>
</tr>
<tr>
<td>35</td>
<td>一点点</td>
<td>thanks bro.</td>
</tr>
<tr>
<td><strong>50</strong>🥉</td>
<td>释月</td>
<td>٩(˃̶͈̀௰˂̶͈́)و</td>
</tr>
<tr>
<td>1</td>
<td>追过梦想又怎样</td>
<td>沈全胜</td>
</tr>
<tr>
<td>10</td>
<td>ZombieBrand</td>
<td>十分感谢</td>
</tr>
<tr>
<td><strong>100</strong>🥇</td>
<td>Y.</td>
<td>项目不错，继续加油，一直会支持！</td>
</tr>
<tr>
<td><strong>50</strong>🥉</td>
<td>else</td>
<td>给开发者加个餐，坚持开发下去(<em>'▽'</em>)♪</td>
</tr>
<tr>
<td>10</td>
<td>OH</td>
<td>虽然不用，但是知道做工具的难！</td>
</tr>
<tr>
<td>10</td>
<td>钟超</td>
<td>Gridea 很赞！继续加油！</td>
</tr>
<tr>
<td>1</td>
<td>刘纪程.🐟</td>
<td>感谢 wx yueerlifee</td>
</tr>
</tbody>
</table>

        </div>
        <!-- <div class="hidden md:block w-48 sticky top-0 pt-10 post-toc self-start">
          <div class="uppercase py-4 font-normal text-gray-400 text-sm">On this page</div>
          
        </div> -->
      </div>

      
    </div>

    <div class="border-t border-gray-200 bg-white">
  <div class="max-w-6xl flex md:justify-between flex-col md:flex-row items-center mx-auto py-24">
    <form
      class="flex items-center mb-0"
      action="https://tinyletter.com/gridea"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/gridea', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input class="border border-gray-200 w-full text-gray-700 h-10 py-2 px-2 focus:outline-none" placeholder="你的邮箱" type="text" name="email" id="tlemail" />
      <input type="hidden" value="1" name="embed"/>
      <button class="text-sm flex items-center flex-shrink-0 py-3 h-10 px-4 bg-gray-800 hover:bg-gray-900 text-white" type="submit">
        <i class="ri-mail-line mr-2"></i>
        订阅更新
      </button>
    </form>
    <div class="text-gray-400 font-light my-8 md:my-0">
      Powered by <a class="text-gray-800 font-normal" href="https://github.com/getgridea/gridea" target="_blank">Gridea</a> · Made with ❤️ by <a class="text-gray-800 font-normal" href="https://github.com/EryouHao" target="_blank">EryouHao</a>
    </div>
    <div class="flex md:self-start justify-center">
      <a href="https://github.com/getgridea/gridea" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-github-line"></i>
      </a>
      <a href="https://twitter.com/EryouHao" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-twitter-line"></i>
      </a>
      <a href="https://t.me/joinchat/AAAAAEj82_lma0Y1wmyqUQ" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center hover:bg-gray-900 hover:text-white">
        <i class="ri-telegram-line"></i>
      </a>
    </div>
  </div>
</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
  <script src="/media/prism.js"></script>
  <script>
    Prism.highlightAll()
  </script>
</body>
</html>