<html lang="en">
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://gridea.dev/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://gridea.dev/media/tailwind.css">
<link rel="stylesheet" href="https://gridea.dev/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="Gridea - Atom Feed" href="https://gridea.dev/atom.xml">


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113307620-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-113307620-2');
  </script>
    

  <title>Markdown Tips 之有序列表 | Gridea</title>
  <meta name="description" content="为每一项元素使用 1 来进行有序列表标号，当调整元素个数或顺序时，无需重写数字
把大象装冰箱分几步？
1. 打开冰箱门
1. 把大象装冰箱
1. 关上冰箱门


打开冰箱门
把大象装冰箱
关上冰箱门


虽然 Gridea 编辑器可以在调整..." />
<body>
  <div class="antialiased flex flex-col min-h-screen md:bg-gray-100" id="app">
    <header class="border-b border-gray-200 bg-white">
  <div class="max-w-6xl mx-auto sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <a href="/" class="flex items-center">
        <img class="h-8 mr-2" src="/media/gridea.png" alt="Gridea" style="transform: scale(1.2);"> <span class="font-medium text-xl">Gridea</span>
      </a>
      <div class="sm:hidden">
        <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-gray-500 focus:text-gray-500 focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <nav :class="isOpen ? 'block' : 'hidden'" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
      
        <a href="/" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 ">
          首页
        </a>  
      
        <a href="/docs" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          文档
        </a>  
      
        <a href="/themes" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          主题市场
        </a>  
      
        <a href="/blog" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          博客
        </a>  
      
        <a href="https://gridea.dev/bytedance-neitui" class="block px-2 py-1 text-gray-500 font-semibold rounded hover:bg-gray-100 mt-1 sm:mt-0 sm:ml-2">
          🔥ByteDance 内推
        </a>  
      
    </nav>
  </div>
</header>

    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">

      <h1 class="text-3xl text-center">Markdown Tips 之有序列表</h1>
      
      
        <div class="my-4 text-gray-400 flex justify-center">
          <span class="flex items-center mr-4 text-sm"><i class="ri-timer-2-line mr-2"></i>2020-04-12</span>
          <span class="flex items-center text-sm"><i class="ri-book-read-line mr-2"></i>1 min read</span> 
        </div>
      

      
        <img class="max-w-full mt-6 rounded mx-auto" src="https://images.unsplash.com/photo-1523540939399-141cbff6a8d7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" alt="">
      
      
      <div class="flex relative bg-white md:mx-32 mt-8 md:mt-16 md:rounded md:shadow pb-24">
        <div v-pre class="markdown mt-10 flex-1 w-full px-0 md:px-12">
          <p>为每一项元素使用 <code>1</code> 来进行有序列表标号，当调整元素个数或顺序时，无需重写数字</p>
<h2 id="把大象装冰箱分几步">把大象装冰箱分几步？</h2>
<pre><code class="language-bash">1. 打开冰箱门
1. 把大象装冰箱
1. 关上冰箱门
</code></pre>
<ol>
<li>打开冰箱门</li>
<li>把大象装冰箱</li>
<li>关上冰箱门</li>
</ol>
<blockquote>
<p>虽然 Gridea 编辑器可以在调整元素个数或顺序时自动修正 😜</p>
</blockquote>

        </div>
        <!-- <div class="hidden md:block w-48 sticky top-0 pt-10 post-toc self-start">
          <div class="uppercase py-4 font-normal text-gray-400 text-sm">On this page</div>
          <ul class="markdownIt-TOC">
<li>
<ul>
<li><a href="#%E6%8A%8A%E5%A4%A7%E8%B1%A1%E8%A3%85%E5%86%B0%E7%AE%B1%E5%88%86%E5%87%A0%E6%AD%A5">把大象装冰箱分几步？</a></li>
</ul>
</li>
</ul>

        </div> -->
      </div>

      
    </div>

    <div class="border-t border-gray-200 bg-white">
  <div class="max-w-6xl flex md:justify-between flex-col md:flex-row items-center mx-auto py-24">
    <form
      class="flex items-center mb-0"
      action="https://tinyletter.com/gridea"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/gridea', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input class="border border-gray-200 w-full text-gray-700 h-10 py-2 px-2 focus:outline-none" placeholder="你的邮箱" type="text" name="email" id="tlemail" />
      <input type="hidden" value="1" name="embed"/>
      <button class="text-sm flex items-center flex-shrink-0 py-3 h-10 px-4 bg-gray-800 hover:bg-gray-900 text-white" type="submit">
        <i class="ri-mail-line mr-2"></i>
        订阅更新
      </button>
    </form>
    <div class="text-gray-400 font-light my-8 md:my-0">
      Powered by <a class="text-gray-800 font-normal" href="https://github.com/getgridea/gridea" target="_blank">Gridea</a> · Made with ❤️ by <a class="text-gray-800 font-normal" href="https://github.com/EryouHao" target="_blank">EryouHao</a>
    </div>
    <div class="flex md:self-start justify-center">
      <a href="https://github.com/getgridea/gridea" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-github-line"></i>
      </a>
      <a href="https://twitter.com/EryouHao" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center mr-3 hover:bg-gray-900 hover:text-white">
        <i class="ri-twitter-line"></i>
      </a>
      <a href="https://t.me/joinchat/AAAAAEj82_lma0Y1wmyqUQ" target="_blank" class="p-2 border border-gray-200 rounded-full w-10 h-10 text-center hover:bg-gray-900 hover:text-white">
        <i class="ri-telegram-line"></i>
      </a>
    </div>
  </div>
</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
  <script src="/media/prism.js"></script>
  <script>
    Prism.highlightAll()
  </script>
</body>
</html>